:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
  --third-text-color: #000000;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --fourth-background-color: #ffffff;
  --color-icon: #afb1b8;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/*global reset styles*/
h1,
h2,
h3,
h5,
h6 {
  margin-bottom: 0;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding: 94px 0;
}

.section-title {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section.top-spacer-null {
  padding-top: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.row-flex {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
}

.row-flex__two-columns .column-item {
  flex-basis: calc(100% / 2);
}

.row-flex__three-columns .column-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.row-flex__four-columns .column-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list .item {
  margin-left: 50px;
}

.header-list .header-item:not(:last-child) {
  margin-right: 50px;
}

.header-list .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.row-flex__five-columns .column-item {
  flex-basis: calc(100% / 5);
}

.row-flex__six-columns .column-item {
  flex-basis: calc(100% / 6);
}

/*header*/
.header {
  background-color: var(--fourth-background-color);
  border-bottom: 1px solid #ececec;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-background-color);
  font-family: 'Raleway', sans-serif;
}

.logo-color {
  color: var(--accent-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.nav-link:hover,
.contacts a:hover,
.nav-link:focus,
.contacts a:focus {
  color: var(--accent-color);
}

.contacts-item {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts-link {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  color: var(--main-text-color);
}

.footer {
  display: block;
  padding-bottom: 60px;
  padding-top: 60px;
  box-sizing: border-box;
  color: var(--secondary-text-color);
}

.position-foot {
  display: flex;
  align-items: baseline;
}

/*hero-section*/
.hero-section {
  background-color: var(--third-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/herojpg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  max-width: 696px;
  margin-bottom: 30px;
}

.site-contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-contacts-item:first-child {
  margin-right: 30px;
}

.sait-hover {
  display: block;
}

.sait-hover:hover,
.sait-hover:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  background-color: var(--secondary-background-color);
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-primary {
  color: #ffffff;
  background-color: var(--accent-color);
}

.button:focus,
.button:hover {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.button-list .item + .item {
  margin-left: 8px;
}

/*abilities of the company*/

.hidden-title {
  visibility: hidden;
  display: none;
}

.ability-section,
.work-section {
  background-color: var(--main-background-color);
}

.ability-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.ability-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.members-item {
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.skill {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.company-members {
  background-color: var(--secondary-background-color);
}

/*footer*/

.container-footer {
  margin-right: 70px;
}
.footer {
  background-color: var(--third-background-color);
  color: var(--secondary-text-color);
  padding-top: 60px;
}

.footer .social-links .link svg {
  fill: #ffffff;
}

.adress {
  font-style: normal;
}

.adress > p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--secondary-text-color);
}

.portfolio-filters {
  background-color: var(--main-background-color);
}

.works-item {
  font-style: normal;
  font-weight: bold;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-style: normal;
  color: var(--secondary-text-color);
  font-family: 'Raleway', sans-serif;
}
.glr-item {
  margin-bottom: 30px;
  padding: 20px 16px;
  border: 1px solid #f5f4fa;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.team-img {
  margin-bottom: 30px;
  width: 270px;
  aspect-ratio: auto 270 / 260;
  height: 260px;
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-footer .item {
  margin-top: 9px;
}

.contacts-footer .contacts-link {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.contacts-footer .contacts-link:hover,
.contacts-footer .contacts-link:focus {
  color: #2196f3;
}

.abl-icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.img-icon {
  text-align: center;
  fill: var(--secondary-title-color);
}

.soc-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 206px;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  color: #afb1b8;
}

.soc-link .link {
  justify-content: center;
  align-items: center;
}

.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.social-item li + li {
  margin-left: 10px;
}

.social-links .link svg {
  fill: #afb1b8;
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: #afb1b8;
}

.link:focus svg,
.link:hover svg {
  fill: var(--accent-color);
}

.social-item:hover svg,
.social-item:focus svg {
  fill: var(--accent-color);
}

.soc-link:hover svg,
.soc-link:focus svg {
  fill: #ffffff;
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--accent-color);
}

.social-links li + li {
  margin-left: 10px;
}

.soc-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.section-clients {
  margin: 94px 0;
}
.regular-customers {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.container-clients {
  text-align: center;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.clients li + li {
  margin-left: 30px;
}

.link-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
}

.link-client:hover,
.link-client:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.link-client:hover svg,
.link-client:focus svg {
  fill: var(--accent-color);
}

.footer-sections {
  background-color: #2f303a;
  padding: 60px 0px;
  color: var(--fon-color);
}

.footer-adress-column {
  margin-right: 70px;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}
